# Preprocessing

In [78]:
import pandas as pd
import numpy as np

print("Preprocessing and cleaning data...\n")
##Read excel spread sheet of data
data = pd.read_excel('cleaned_data.xls', header=None)

##Declare the column names
data.columns = ['date', 's_and_p_comp', 'dividend', 'earnings',
                'CPI', 'fraction_date', 'long_interest_rate', 'real_price',
                'real_dividend', 'real_total_return_price','real_earnings',
                'real_scaled_earnings', 'CAPE', 'TR_CAPE', 'excess_CAPE', 'montly_bond_return',
                'real_bond_return','10_year_stock_return', '10_year_bond_return',
                '10_year_excess_return']

##Drop all rows with missing data
data = data.replace('NA',np.NaN)

data.head()

##Drop "10 year" columns so there are no rows with missing data after 2011
print("Dropping unfinished columns...")    
data = data.drop(['10_year_stock_return'],axis=1)
data = data.drop(['10_year_bond_return'],axis=1)
data = data.drop(['10_year_excess_return'],axis=1)

##Drop rows with missing data
print("Dropping unfinished rows...")
print('\n\nNumber of rows in original data = %d' % (data.shape[0]))
data = data.dropna()
print('Number of rows after discarding missing values = %d\n' % (data.shape[0]))

#Number
print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d\n' % (data.shape[1]))

##Check to make sure there are no missing values in each column
print('Number of missing values:')
for col in data.columns:
    print('\t%s: %d' % (col,data[col].isna().sum()))

print("\n\nPreprocessing done.")

Preprocessing and cleaning data...

Dropping unfinished columns...
Dropping unfinished rows...


Number of rows in original data = 1810
Number of rows after discarding missing values = 1687

Number of instances = 1687
Number of attributes = 17

Number of missing values:
	date: 0
	s_and_p_comp: 0
	dividend: 0
	earnings: 0
	CPI: 0
	fraction_date: 0
	long_interest_rate: 0
	real_price: 0
	real_dividend: 0
	real_total_return_price: 0
	real_earnings: 0
	real_scaled_earnings: 0
	CAPE: 0
	TR_CAPE: 0
	excess_CAPE: 0
	montly_bond_return: 0
	real_bond_return: 0


Preprocessing done.

# K-means Clustering

In [79]:
recession_data = data[(data['date'] > '2006') & (data['date'] < '2011')]
recession_data = recession_data[['date', 'real_price', 'real_scaled_earnings']]
recession_data

         date   real_price real_scaled_earnings
1621  2006-01  1766.770556         45625.435221
1622  2006-02  1760.345828         46210.667771
1623  2006-03  1774.089539         46631.147797
1624  2006-04   1770.58446          46692.36296
1625  2006-05  1745.388308         46916.715417
1626  2006-06  1692.201032         47282.288405
1627  2006-07  1696.730472         48078.694002
1628  2006-08  1729.561257         48920.258166
1629  2006-09  1779.392252         50103.551688
1630  2006-10  1851.056905         51080.952758
1631  2006-11  1888.159307         51863.735874
1632  2006-12  1923.069152          52493.57226
1633  2007-01   1927.69339         52762.138274
1634  2007-02  1945.223316         52908.031104
1635  2007-03  1877.170583         52857.280167
1636  2007-04  1940.203226         52966.200338
1637  2007-05  1991.002834         53091.265248
1638  2007-06  1991.162539         53436.151419
1639  2007-07  2000.245167         52199.305883
1640  2007-08  1916.829865           51042.8716
1641  2007-09  1967.412361         49648.339469
1642  2007-10   2018.99649         47002.046012
1643  2007-11  1907.650924         44195.673803
1644  2007-12  1929.581134         41686.653688
1645  2008-01   1789.63969         40338.738643
1646  2008-02   1753.53784         39081.159379
1647  2008-03   1689.79947         37612.631066
1648  2008-04  1747.884652         35585.970588
1649  2008-05  1774.709074         33496.553042
1650  2008-06  1679.409703         31384.601535
1651  2008-07  1566.107907         30180.052482
1652  2008-08  1602.573032         29251.165418
1653  2008-09  1523.993711         28239.231132
1654  2008-10  1225.614331         22152.154296
1655  2008-11  1138.934537         16056.328786
1656  2008-12  1143.695135          9591.830802
1657  2009-01  1123.193388          7855.597754
1658  2009-02  1039.711642          6122.276326
1659  2009-03   975.233479          4407.969116
1660  2009-04   1089.75283          4547.768175
1661  2009-05  1156.129473          4684.791054
1662  2009-06  1176.400567          4793.893182
1663  2009-07  1190.609772          5886.570074
1664  2009-08  1281.767965           6959.37824
1665  2009-09    1325.1402          8043.787783
1666  2009-10  1353.154853         16274.796182
1667  2009-11  1378.047219          24524.48783
1668  2009-12  1408.784116         32870.141557
1669  2010-01  1420.676367         34949.494359
1670  2010-02  1376.811939         37140.132615
1671  2010-03  1450.355892         39181.810866
1672  2010-04  1504.734322         40495.909616
1673  2010-05  1412.826203         41853.877666
1674  2010-06  1361.789708         43292.760621
1675  2010-07  1357.028376         44382.840228
1676  2010-08  1364.544817         45422.797202
1677  2010-09   1407.40035         46498.424126
1678  2010-10  1467.659587         47699.398494
1679  2010-11   1501.23983         48940.170556
1680  2010-12  1551.966312         50116.442149

These columns are taken from the data from 2006-2010. This is an interesting time period because part of it is during the Great Recession. The data will be put into three clusters.

In [80]:
from sklearn import cluster

clustering_data = recession_data.drop('date',axis=1)
k_means = cluster.KMeans(n_clusters=3, max_iter=50, random_state=1)
k_means.fit(clustering_data) 
labels = k_means.labels_
pd.DataFrame(labels, index=recession_data.date, columns=['Cluster ID'])

         Cluster ID
date
2006-01           1
2006-02           1
2006-03           1
2006-04           1
2006-05           1
2006-06           1
2006-07           1
2006-08           1
2006-09           1
2006-10           1
2006-11           1
2006-12           1
2007-01           1
2007-02           1
2007-03           1
2007-04           1
2007-05           1
2007-06           1
2007-07           1
2007-08           1
2007-09           1
2007-10           1
2007-11           1
2007-12           1
2008-01           2
2008-02           2
2008-03           2
2008-04           2
2008-05           2
2008-06           2
2008-07           2
2008-08           2
2008-09           2
2008-10           2
2008-11           0
2008-12           0
2009-01           0
2009-02           0
2009-03           0
2009-04           0
2009-05           0
2009-06           0
2009-07           0
2009-08           0
2009-09           0
2009-10           0
2009-11           2
2009-12           2
2010-01           2
2010-02           2
2010-03           2
2010-04           2
2010-05           1
2010-06           1
2010-07           1
2010-08           1
2010-09           1
2010-10           1
2010-11           1
2010-12           1

The official time of the Great Recession is December 2007 - June 2009. The clusters don't exactly line up with this but are instead delayed several months. This is probably because it took time for the recession and end of recession to affect the selected metrics.

The k-means clustering algorithm placed the non-recession dates into Cluster 1. The dates in the transtion time into and out of the recession were placed into Cluster 2. The dates that are deep in the recession were placed in Cluster 0.